.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding: 0 20px;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: #007bff;
  }

  .leftSide
  {
    display: flex;
    flex-wrap: wrap;
  }

  .mainLogo
  {
    padding-right: 20px;
  }
  